{% extends "main/base_main/index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nova_publicacao.css' %}">
{% endblock styles %}
{% block painel_principal %}
    <div class="detalhes-container">

        <div class="titulo-container">
            <h2 class="titulo">
                Informe o titulo:
            </h2>

            <input type="text">
        </div>

        <div class="descricao-container">
            <h2 class="desricao">
                Informe mais detalhes sobre a doação:
            </h2>
            <textarea name="desricao" id="" cols="30" rows="15"></textarea>
        </div>

    </div>

    <div class="contato-container">
        
        <div class="doacoes">
            <h2 class="title">Aceita doações em:</h2>
            
            <div class="buttons-doacao">
                <div class="doacao-button-container">
                    <button class="doacao-button">
                        <img class="icon" src="{% static 'icons/roupas.png' %}" alt="">
                        <p>Roupas</p>
                    </button>
                </div>

                <div class="doacao-button-container">
                    <button class="doacao-button">
                        <img class="icon" src="(% static 'icons/comida.png' %)" alt="">
                        <p>Alimentos</p>
                    </button>
                </div>

                <div class="doacao-button-container">
                    <button class="doacao-button">
                        <img class="icon" src="{% static 'icons/dinheiro.png' %}" alt="">
                        <p>Dinheiro</p>
                    </button>
                </div>
            </div>

        </div>

        <div class="contato-informacoes">
            <div class="email-container">
                <h2>Email:</h2>
                <input type="text">
            </div>

            <div class="whatsapp-container">
                <h2>Whats App:</h2>
                <input type="text">
            </div>
        </div>

        <div class="button-container">
            <button>Publicar</button>
        </div>

    </div>
{% endblock painel_principal %}