{% extends "main/base_main/index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/publicacao_detalhes.css' %}">
{% endblock styles %}
{% block painel_principal %}
    <div class="card">
        <div class="favIcon-container">
            <a href="{% url 'main:editar_publicacao' publicacao.id %}">
                {% if publicacao.usuario.id == usu_id %}
                    <img class="editIcon" src="{% static 'icons/lapis.png' %}" alt=""> 
                {% else %}
                    <img class="favIcon" src="{% static 'icons/salvar.png' %}" alt="">
                {% endif %}    
            </a>
        </div>
        <div class="card-container">
            <div class="instituicao-container">
                <div class="title-wrapper">
                    <h3>
                        Instituição:
                    </h3>
                </div>
                <div class="instituicao-wrapper">
                    <h2>
                        {{publicacao.usuario.nome}}
                    </h2>
                </div>

                <div class="cardTitle-container">
                    <h1>{{publicacao.titulo}}</h1>
                </div>

            </div>

            <div class="descricao-container">
                <div class="title-wrapper">
                    <h3>
                        Descrição:
                    </h3>
                </div>
                <div class="descricao-wrapper">
                    <p>
                        {{publicacao.descricao}}
                    </p>
                </div>
            </div>

            <div class="requisitos-container">
                <div class="title-wrapper">
                    <h3>
                        Aceita doações em:
                    </h3>
                </div>
                <div class="imgs-wrapper">
                    <div class="icon-container">
                        {% if publicacao.roupa is True %}
                        <img class="icon" id="roupas" src="{% static 'icons/roupas.png' %}" alt="roupas">
                        {% else %}
                        <img class="icon" id="roupas" src="{% static 'icons/roupas.png' %}" alt="roupas" style="opacity:0.1">
                        {% endif %}
                        <p class="title-icon">Roupas</p>
                    </div>
                    <div class="icon-container">
                        {% if publicacao.alimento is True %}
                        <img class="icon" id="comida" src="{% static 'icons/comida.png' %}" alt="comida">
                        {% else %}
                        <img class="icon" id="comida" src="{% static 'icons/comida.png' %}" alt="comida" style="opacity:0.1">
                        {% endif %}
                        <p class="title-icon">Alimentos não perecíveis</p>
                    </div>
                    <div class="icon-container">
                        {% if publicacao.dinheiro is True %}
                        <img class="icon" id="dinheiro" src="{% static 'icons/dinheiro.png '%}" alt="dinheiro">
                        {% else %}
                        <img class="icon" id="dinheiro" src="{% static 'icons/dinheiro.png '%}" alt="dinheiro">
                        {% endif %}
                        <p class="title-icon">Dinheiro</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="contato-container">
        <div class="title-container">
            <h2 class="title">
                Informações para contato:
            </h2>
        </div>

        <div class="email-container">
            <h3 class="title-contato">Email:</h3>
            <p class="contato" id="email">
                {{ publicacao.email }}
            </p>
        </div>

        <div class="telefone-container">
            <h3 class="title-contato">Telefone:</h3>
            <p class="contato" id="telefone">
                {{ publicacao.whatsapp }}
            </p>
        </div>
    </div>

</div>
{% endblock painel_principal %}