{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ajuda Ai!</title>
    <link rel="stylesheet" href="{% static 'css/base_main.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>

        <div class="wrapper" id="logo-wrapper">
            <a href="{% url 'main:homepage' %}" style="text-decoration: none;" >
                <h1 class="title" id="logo-title">
                    Ajuda <span id="logo-span">Ai!</span>
                </h1>
            </a>
            
        </div>

        <div class="wrapper" id="novaDoacao-wrapper">
            <a href="{% url 'main:nova_publicacao' %}" class="button" id="novaDoacao-buttton">
                <button>
                    Cadastrar nova Doação
                </button>     
            </a>
        </div>

        <div class="wrapper" id="meuPerfil-wrapper">
            <div class="dropdown">
                <button class="dropbtn">Opções</button>
                <div class="dropdown-content">
                  <a href="{% url 'main:editar_usuario' usu_id %}">Editar perfil</a>
                  <a href="{% url 'main:publicacoes_salvas' %}">Publicacoes salvas</a>
                  <a href="{% url 'main:minhas_publicacoes' %}">Minhas publicacoes</a>
                  <hr>
                  <a class ='sair' href="{% url 'main:logout' %}">Sair</a>
                </div>
              </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}
        
    <div class="painel-principal">
        {% block painel_principal %}
        {% endblock %}
    </div>
</body>
    {% block scripts %}
    {% endblock %}
</html>