{% extends "main/base_login/index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block body %}
    <div class="container" id="login-container">
        <div class="logo-container">
            <div class="wrapper" id="logo-wrapper">
                <h1 class="title" id="logo-title">Ajuda <span id="logo-span">Ai!</span></h1>
            </div>
            <div class="wrapper" id="subtitle-wrapper">
                <h2 class="subtitle" id="logo-subtitle">Acessar o Ajuda Ai!</h2>
            </div>
        </div>

        <form class="form-container" method="POST">
            {% csrf_token %}
            <div class="input-container" id="email-input-container">
                <label>E-mail</label>
                <div class="input-wrapper">
                    <input type="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
            </div>

            <div class="input-container" id="password-input-container">
                <label>Senha</label>
                <div class="input-wrapper">
                    <input type="password" name="senha" placeholder="Digite sua Senha" required> 
                </div>
            </div>

            <div class="input-container" id="nome-input-container">
                <label>Nome</label>
                <div class="input-wrapper">
                    <input type="text" name="nome" placeholder="Digite seu nome" required>
                </div>
            </div>

            <div class="input-container" id="cidade-uf-input-container">
                <div id="cidade-div">
                    <label>Cidade</label>
                    <div class="input-wrapper">
                        <input type="text" name="cidade" placeholder="Digite sua cidade" required>
                    </div>
                </div>
                <div id="uf-div">
                    <label>UF</label>
                    <div class="input-wrapper">
                        <select name="uf" id="uf" required>
                            <option value="" disabled selected hidden>Escolha sua UF</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>  
            </div>

            <div class="button-container">

                <div class="button-wrapper">
                    <button type = "submit">CADASTRAR</button>
                </div>
            </div>

            <div class="container" id="footer-container">
                <a href="/login">Já possui uma conta? <strong>Acessar</strong></a>
            </div>
        </form>

    </div>
{% endblock %}