{% extends "main/base_main/index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/nova_publicacao.css' %}">
{% endblock styles %}
{% block painel_principal %}

<form method="post">
    {% csrf_token %}
    <div class="detalhes-container">

        <div class="titulo-container">
            <h2 class="titulo">
                Informe o titulo:
            </h2>

            <input name="titulo" type="text" required>
        </div>

        <div class="descricao-container">
            <h2 class="descricao">
                Informe mais detalhes sobre a doação:
            </h2>
            <textarea name="descricao" id="" cols="30" rows="15" maxlength=600 required></textarea>
        </div>

    </div>

    <div class="contato-container">
        
        <div class="doacoes">
            <h2 class="title">Aceita doações em:</h2>
            
            <div class="buttons-doacao">
                <div class="doacao-button-container">
                    <input name="roupas" value="roupa" type="checkbox" class="doacao-button">
                        <img class="icon" src="{% static 'icons/roupas.png' %}" alt="">
                        <p>Roupas</p>   
                    </input>
                </div>

                <div class="doacao-button-container">
                    <input name="alimentos" value="alimento" type="checkbox" class="doacao-button">
                        <img class="icon" src="{% static 'icons/comida.png' %}" alt="">
                        <p>Alimentos</p>
                    </input>

                </div>

                <div class="doacao-button-container">
                    <input name="dinheiro" value="dinheiro" type="checkbox" class="doacao-button">
                        <img class="icon" src="{% static 'icons/dinheiro.png' %}" alt="">
                        <p>Dinheiro</p>
                </checkbox>
                </div>
            </div>

        </div>

        <div class="contato-informacoes">
            <div class="email-container">
                <h2>Email:</h2>
                <input name="email" type="text">
            </div>

            <div class="whatsapp-container">
                <h2>Whats App:</h2>
                <input name="whatsapp" type="tel" placeholder="xx x xxxx xxxx" pattern="[0-9]{2} [0-9]{1} [0-9]{4} [0-9]{4}">
            </div>
        </div>

        <div class="button-container">
            <button type = "submit">Publicar</button>
        </div>

    </div>
</form>
    
{% endblock painel_principal %}