{% extends "main/base_main/index.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/editar_usuario.css' %}">
{% endblock %}
{% block painel_principal %}
    <div class="form-wrapper">
        <H2 class="title">Olá {{ usuario.nome }}</H2>
        <form class="form-container" method="POST">
            {% csrf_token %}
            <div class="input-container" id="email-input-container">
                <label>E-mail</label>
                <div class="input-wrapper">
                    <input type="email" value="{{ usuario.email }}" name="email" placeholder="Digite seu e-mail" required>
                </div>
            </div>

            <div class="input-container" id="password-input-container">
                <label>Senha</label>
                <div class="input-wrapper">
                    <input type="password" value="{{ usuario.senha }}" name="senha" placeholder="Digite sua Senha" required> 
                </div>
            </div>

            <div class="input-container" id="nome-input-container">
                <label>Nome</label>
                <div class="input-wrapper">
                    <input type="text" value="{{ usuario.nome }}" name="nome" placeholder="Digite seu nome" required>
                </div>
            </div>

            <div class="input-container" id="cidade-uf-input-container">
                <div id="cidade-div">
                    <label>Cidade</label>
                    <div class="input-wrapper">
                        <input type="text" value="{{ usuario.cidade }}" name="cidade" placeholder="Digite sua cidade" required>
                    </div>
                </div>
                <div id="uf-div">
                    <label>UF</label>
                    <div class="input-wrapper">
                        <select name="uf" id="uf" required>
                            <option value="{{ usuario.uf }}" disabled selected hidden>{{ usuario.uf }}</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>  
            </div>

            <div class="button-container">

                <div class="button-wrapper">
                    <button type = "submit">SALVAR</button>
                </div>
            </div>

            <div class="excluir-container">
                <a href="">Excluir minha conta</a>
            </div>

        </form>
    </div>
{% endblock %}